{% extends "base.html" %}
{% load static %}
{% static "img" as baseUrl %}
    
{% block content %}
        <!--End Main Header-->

        <!--Start breadcrumb area-->
        <section class="breadcrumb-area" style="background-image: url({% static 'images/resources/breadcrumb-bg.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content clearfix">
                            <div class="title">
                                <h1>Titre pour la page a propos</h1>
                            </div>
                            <div class="breadcrumb-menu float-right">
                                <ul class="clearfix">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li class="active">Account</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End breadcrumb area-->

        <!--Start Company Overview Area-->
        <section class="company-overview-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="intro-box clearfix">
                            <div class="sec-title">
                                <p>Notre compagnie</p>

                                <div class="title">plus de 30 ans <br> <span>d'histoire</span></div>
                            </div>
                            <div class="text">
                                <p class="h4">Weihua Group a créé deux activités majeures:</p> <br>
                                
                                <ul class="">
                                    <li>L'un est la fabrication de machines, y compris les grues industrielles, les machines minières, les machines portuaires, les grues mobiles, les boîtes de vitesses, etc.</li>
                                    <li>L'autre est la construction, y compris la construction de bâtiments, les travaux publics, la structure en acier, la construction technique, la construction anticorrosion, l'EPC, etc.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <p class="h5 text-dark text-center ">
                            Weihua Group est directeur en chef adjoint de l'Association de l'industrie des machines lourdes, de l'Association de la manutention et de la sous-association des ponts roulants en Chine; nous sommes l'un des premiers lots de l'entreprise de démonstration de l'innovation technologique nationale. Le groupe Weihua a également créé le Centre national de technologie et d'inspection, le poste de travail national de recherche scientifique post-doctorale et le poste de travail académique. 
                        </p>
                    </div>
                </div>
                <div class="row fact-counter">
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="500" data-speed="3000" data-refresh-interval="50">500</span>
                                </h1>
                            </div>
                            <div class="title">
                                <h3>Récompenses</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="404" data-speed="5000" data-refresh-interval="50">404</span>
                                </h1>
                            </div>
                            <div class="title">
                                <h3>récompenses</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="85" data-speed="5000" data-refresh-interval="50">85</span>
                                </h1>
                            </div>
                            <div class="title">
                                <h3>réalisations nationales</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="600" data-speed="5000" data-refresh-interval="50">600</span>
                                </h1>
                            </div>
                            <div class="title">
                                <h3>personnes, en R&D</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                   
                    <ul class="ml-5 mt-5">
                        <li>WEIHUA dispose de Plus de 600 personnes, qui est la plus grande équipe de R&D dans le secteur des grues industrielles en Chine. </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Company Overview Area-->
        <!--Start Project Description area-->
        <section class="project-description-area">
            <div class="pattern-bg wow slideInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                <img src="{% static 'images/pattern/project-description-pattern.jpg' %}" alt="Pattern Bg">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="project-description-image-box">
                            <img src="{% static 'images/projects/timg.jpg' %}"alt="Awesome Image">
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="project-description-content">
                            <div class="sec-title">
                                <div class="title">Secteur d'activités</div>
                            </div>
                            <div class="inner-content">
                                <p>Les produits et les activités couvrent les industries telles que les machines, la métallurgie, les mines, l'énergie, les chemins de fer, l'aérospatiale, le port, le pétrole, la chimie, etc. les produits ont servi des milliers de grandes entreprises et des projets nationaux clés comme West-East Natural Gas Transmission, South- North Water Diversion, Satellite Launch, China Nuclear Power, China National Coal, China Shenhua Energy, China Petroleum, Beijing Olympics, Shanghai Baosteel, Beijing Capital Steel, Hangzhou Bay Bridge, 863 Project, National Sci-Tech Support Plan, Shenzhou X, Chang 'e 3 rover lunaire, etc. Les produits ont été exportés vers 98 pays, tels que les Etats-Unis, la Grande-Bretagne, le Japon, la Russie, la Corée, etc.</p>
                                <div class="bottpm-text">
                                    <p>Dans le domaine de l'ingénierie de la construction, nous avons créé le groupe d'ingénierie de construction Zhongzhu, qui obtient toutes les qualifications, y compris le grade I d'entrepreneur général en génie de la construction de bâtiments. </p>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Project Description area-->
       <!--Start Project Info Area-->
       <section class="project-info-area">
        <div class="pattern-bg wow slideInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
            <img src="{% static 'images/pattern/project-info-patten.jpg' %}" alt="Pattern Bg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="project-info-content">
                        <div class="project-info-title">
                            <h3>plus d'infos</h3>
                        </div>
                        <div class="inner-content">
                            <p>Le grade I d'entrepreneur professionnel en ingénierie anti-corrosion et isolation thermique, le grade II d'entrepreneur professionnel en ingénierie de structure métallique, Niveau II de l'entrepreneur professionnel en ingénierie d'équipement pétrochimique et d'installation de tuyauterie, entrepreneur général de travaux publics municipaux.</p>
                            <div class="bottpm-text">
                                <p>La société a passé des contrats avec de grandes entreprises et des projets clés de haute qualité, de précision et avancés tels que le bureau d'ingénierie ferroviaire de Chine, China Chemical Construction Company, China National Petroleum Corporation, China National Offshore Oil Corporation, Beijing Aerospace Petrochemical Corporation, Baoye Group, Shenhua Group, Zhengzhou Longhu Yuefu.Projet Haitang, bâtiment Zhengzhou Xinmangguo, Zhengzhou Xinglianwan, centre d'exposition international de Zhengzhou, etc..</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="project-info-image-box">
                        <img src="{% static 'images/projects/dws-deltares-rotterdam-singapore-port-770px.jpg' %}" alt="Awesome Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
<section>
    <div class="container m-5">
        <div class="row d-flex justify-content-center">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg1.png' %}" alt="">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg2.png' %}" alt="">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg3.png' %}" alt="">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg4.png' %}" alt="">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg5.png' %}" alt="">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg6.png' %}" alt="">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg7.png' %}" alt="">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg8.png' %}" alt="">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg9.png' %}" alt="">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg10.png' %}" alt="">
            <img class="img-fluid m-3  " width="90" src="{% static 'images/groupe/companyimg11.png' %}" alt="">
 
        </div>
    </div>
</section>
        {% endblock content %}
