{% extends "base.html" %}
{% load static %}
{% static "img" as baseUrl %}
    
{% block content %}
        <!--Main Slider-->
        <!--Start breadcrumb area-->
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="inner-content clearfix">
                                <div class="title">
                                    <h1 class="home_page">Pons roulants</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!--End breadcrumb area-->
        <!--End Main Slider-->

        <!--Start Highlights Area-->
        <section class="highlights-area">
            <div class="container">
                <div class="row justify-content-center">
                    <!--Start single highlight box-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
                            <div class="icon-holder">
                                <span class="icon-concept"></span>
                            </div>
                            <div class="inner-content">
                                <div class="text">
                                    <h3>Professionnel</h3>
                                    <p>Le plus adapté à votre programme.</p>
                                </div>
                                <a class="btn-one" href="#">Voir plus<span class="flaticon-next"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--End single highlight box-->

                    <!--Start single highlight box-->
                    <div class="col-xl-4 col-lg-4">
                        <div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms">
                            <div class="icon-holder">
                                <span class="icon-cupboard"></span>
                            </div>
                            <div class="inner-content">
                                <div class="text">
                                    <h3>Puissant</h3>
                                    <p>Équipement de production à grande échelle</p>
                                </div>
                                <a class="btn-one" href="#">Voir plus<span class="flaticon-next"></span></a>
                            </div>
                        </div>
                    </div>
                    <!--End single highlight box-->
                </div>
            </div>
        </section>
        <!--End Highlights Area-->



        <!--Start Working Area-->
        <section class="working-area" style="background-image:url({% static 'images/parallax-background/working-bg.jpg' %});">
            <div class="container">
                <div class="sec-title with-text max-width text-center wow fadeInDown" data-wow-delay="100ms" data-wow-duration="1200ms">
                    <p>Espace de travail</p>
                    <div class="title clr-white">Jetez un œil aux produits que<span> nous proposons </span></div>
                    <p class="bottom-text">Weihua Group a plus de 30 ans d'expérience dans l'industrie de la fabrication de machines comme l'une des activités, y compris les grues industrielles, les machines minières, machines portuaires, grues mobiles, boîte de vitesses, etc.</p>
                </div>
                <div class="row">
                    <!--Start Single Working Box-->
                    
                    {% for prod in produits %}
                        {% if prod.page_accueil %}
                        {% if prod.actif %}
                            <div class="col-xl-4 col-lg-4">
                                <div class="single-working-box wow fadeInDown" data-wow-delay="0ms">
                                    <div class="img-holder">
                                        <div class="inner">
                                            <img src="{{prod.image.url}}" alt="{{prod.name}}">
                                            <div class="overlay-style-one"></div>
                                        </div>
                                    </div>
                                    <div class="text-holder">
                                        <div class="plus-icon-box"><span class="icon-plus"></span></div>
                                        <div class="outer-box">
                                            <div class="text">
                                                <h3>{{prod.name}}</h3>
                                                <p>{{prod.definition|truncatewords:10}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </section>
        <!--End Working Area-->


        <!--Start slogan area-->
        <section class="slogan-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content flex-box-two fix">
                            <div class="title float-left">
                                <h3>Vous avez besoin d'un pons roulant ?</h3>
                            </div>
                            <div class="button float-right">
                                <a class="btn-one" href="#">Demander un devis<span class="flaticon-next"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End slogan area-->



    
        <!--Start Brand area-->
        <section class="brand-area">
            <div class="container">
                <div class="sec-title">
                    <p>Nos Clients</p>
                    <div class="title"><span>Ils nous ont fais</span> confiance</div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="brand-items-carousel owl-carousel owl-theme">
                            <!--Start Single Brand Item-->
                            {% for ref in references %}
                              
                            <li class="" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <a ><img class="img-fluid" src="{{ref.logo.url}}" alt="{{ref.name}}" style="height: 100%;"></a>
                                <div class="overlay-content">
                                </div>
                            </li>
                            {% endfor %}
                            <!--End Single Brand Item-->

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Brand area-->
  
{% endblock content %}