{% extends "base.html" %}
{% load static %}
{% static "img" as baseUrl %}
    
{% block content %}
        <!--End Main Header-->

        <!--Start breadcrumb area-->
        <section class="breadcrumb-area style2" style="background:  linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url({{categorie.image.url}});">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content-box clearfix">
                            <div class="title-s2 text-center">
                                <h1>{{categorie.name}}</h1>
                            </div>
                            <div class="breadcrumb-menu float-left">
                                <ul class="clearfix">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li class="active">Services</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End breadcrumb area-->

        <!--Start services style2 Service Page-->
        <section class="services-style2-service-page">
            <div class="container">
                <div class="row">
                    {% for prod in produitsF %}
                      
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 filter-item contem ret">
                        <div class="single-project-style5">
                            
                            <div class="img-holder">

                                <div class="inner">
                                    <img src="{{prod.image.url}}" alt="Awesome Image">
                                    <div class="overlay-box">
                                        <div class="box">
                                            <div class="link">
                                                <a href="{% url 'product-detail' slug=prod.slug %}"><span class="icon-out"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="title">
                                <h3><a href="project-single.html">{{prod.name}}</a></h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        
            </div>
        </section>
        <!--End services style2 Service Page-->


        <!--End Testimonial Style3 service page-->
        {% endblock content %}
